:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #757575;
    --main-text-color: #757575;
    --second-text-color: color: rgba(255, 255, 255, 0.6);
    --third-text-color: #212121;
    --accent-color: #2196F3;
    --main-btn-color:#FFFFFF;
    --second-btn-color: #212121;
    --header-text-color:  #212121;
    --duration: 250ms;
    --function-animator: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto; 
    color: #E5E5E5;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
  padding-right: 15px;
}
h1, h2, h3, p, ul{
    margin: 0;
}
a {
  text-decoration: none;
}

.list {
list-style: none;
padding: 0cm;
}

.link {
    text-decoration: none;
}

.visually-hidden {
 position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/*/////////// HEADER//////////// */
.header {
  background: #FFFFFF;
  border-bottom: 1px solid #ececec;
}
.header-flex {
     display: flex;
     align-items: center;
     justify-content: center;
}  
.header-list {
     display: flex;
     margin-left: 93px;
}
.header-navigation{
   display: flex;
   align-items: center;
}
.header-list .header-item + .header-item {
  margin-left: 50px;
}

.auth-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.15;
  color: #f5f4fa;
  transition: color var(--duration) var(--function-animation);
  margin-left: auto;
}
.auth-nav .header-item + .header-item {
  margin-left: 50px;
}

.header-logo {
  display: inline;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

}
.header-studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.header-link {
     display: block;
     flex-direction: column;
     position: relative;
     padding-top: 32px;
     padding-bottom: 32px;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: black;  

     transition-property: background-color, color;
     transition-duration: var(--duration);
     transition-timing-function: var(--function-animator);
}
.header-link.current {
  background-color: #FFFFFF;
  color:var(--accent-color) ;
}
.header-link.current::after{
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
	height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-mail:hover,
.header-mail:focus{
    color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus{
  color: var(--accent-color);
}
.envelope-icon {
  fill: currentColor;
  margin-right: 10px;

}
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-mail,
.header-tel {
display: flex;
align-items: center;

}
.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition-property: background-color, color;
    transition-duration: var(--duration);
   transition-timing-function: var(--function-animator);
} 


/* /////////////////////   HERO   /////////// */
 .hero {
     height: 600px;
     max-width: 1600px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 200px;
     padding-bottom: 200px;
     background-color: #2F303A;
     background-image: linear-gradient(
      to right,
      rgba(80, 82, 105, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(../image/Fon.jpg);
     background-size: cover;
     background-position: center;

 }
 .hero-content {
     text-align: center;
 }
 .hero-title {
     margin-top: 0;
     margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-title-color);
 }

 .hero-btn {
     border: none;
     height: 50px;
     min-width: 200px;
     cursor: pointer;
     font-family: inherit;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     text-align: center;
     letter-spacing: 0.06em;
     color: white;
     background: #2196f3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
    }

 .hero-btn:hover,
 .hero-btn:focus {
    background: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }
 .backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   background-color: rgba(0, 0, 0, 0.2);
   transition: opacity var(--duration) var(--function-animator);
 }
 .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

 .backdrop.is-hidden.modal {
   opacity: 0;
   transform: scale(1.1)  translate(-50%, -50%);
 }
 .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 528px;
   height: 581px;
   background-color: #fff;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;

   transform: scale(1) rotate(0) translate(-50%, -50%);
   transition: transform var(--duration) var(--function-animation), opacity var(--duration) var(--function-animation);
 }
 .modal-btn {
   position: absolute;
   display: block;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
  
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   align-items: center;
   justify-content: center;
   cursor: pointer;
 }
 .is-hidden {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
 }
 .close-icon {
   align-items: center;
   justify-content: center;
   cursor: pointer;
   width: 11px;
   height: 11px;
  }

 

/* ------------------benefits---------- */

.benefits {
    padding-top: 94px;
    padding-bottom: 47px;
    background: white;
}
.benefits-list{
    display: flex;
}

.benefits-item::before {
  display: block;
  content: " ";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../image/Icons/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../image/Icons/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-diagram::before {
  background-image: url(../image/Icons/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-astronaut::before {
  background-image: url(../image/Icons/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.benefits-item-title {
  text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--second-title-color);
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--third-title-color);
}
.benefits-item + .benefits-item {
  margin-left: 30px;
}

/* /////////////products///////// */
.products{
    padding-top: 47px;
    padding-bottom: 94px;
}
.products-title {
    text-align: center;
    text-transform: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-title-color);
    margin-bottom: 50px;
}
.products-list {
  display: flex;
}
.products-list .products-item + .products-item {
  margin-left: 30px;
}
.products-item {
  position: relative;
}
.after-img {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  padding: 27px auto;
  background: rgba(47, 48, 58, 0.8);
}
.products-text {
  position: absolute;
  display: inline-block;
  width: 100%;
  margin-top: 27px;
  margin-bottom: 27px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}


/* ///////////////OUR TEAM///////// */

.team {
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-list{
    display: flex;
}
.card-team{
     padding-top: 30px;
     padding-bottom: 30px;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17; 
    text-align: center;
    letter-spacing: 0.03em;
   color:var(--second-title-color);
}
.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.team-work-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
    margin-bottom: 16px;
}
.team-social-list{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
}

.team-social-item +.team-social-item {
margin-left: 10px;
}

.team-link {
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border-radius:  50%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;

  transition-property: background-color, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function-animation);
}

.team-link:hover,
.team-link:focus {
   color: var(--main-title-color);
   background: var(--accent-color);
   cursor: pointer;
}
.team-icon {
 fill: currentColor;
}

/* //////////////CLIENTS//////////////// */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
 margin-bottom: 50px;
 font-style: normal;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 text-align: center;
 letter-spacing: 0.03em;
 color: var(--second-title-color);
}
.client-list {
  display: flex;
  justify-content: space-between;
}
.client-item +.client-item {
  margin-left: 30px;
}
.client-link {
  display: inline-block;
  border: 1px solid #afb1b8;
	border-radius: 4px;
	padding: 14px 32px;
	color: #afb1b8;
  transition-property: color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--function-animation);
}
.client-link:hover,
.client-link:focus {
 color: var(--accent-color);
 border: 1px solid var(--accent-color);
 fill: currentColor;
}
.client-icon {
  fill: currentColor;
}

/* ////////// footer//////////*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}
.address {
  margin-top: 20px;
  font-style: normal;
}
.address-item {
  margin-bottom: 9px;
}
.address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-mail-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-tel-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function-animation);
}
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--accent-color);
}

.social-menu {
  margin-left: 70px;
}
.footer-social-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-social-list {
  display: flex;
  max-width: 206px;
  justify-content: space-between;
}
.footer-social-item +.footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
}
.footer-icon {
  fill: currentColor;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
/* ----------------PORTFOLIO----- */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-list .portfolio-item + .portfolio-item {
  margin-left: 8px;
}
.portfolio-btn {
     display: inline-block;
     cursor: pointer;
     font-family: inherit;
     height: 38px;
     min-width: 73px;
     padding: 6px 22px;
     border: 0;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.63;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--second-title-color);
     background: #f5f4fa;;
     border-radius: 4px; 

      transition-property: background-color, color, box-shadow;
      transition-duration: var(--duration);
      transition-timing-function: var(--function-animator);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* projects */

.projects-list {
 background: white;
 display: flex;
 flex-wrap: wrap;
}
.projects-item + .projects-item {
  margin-left: 30px;
}
.projects-item:nth-child(3n + 1) {
  margin-left: 0;
}
.projects-item {
  margin-bottom: 30px;
  width: 370px;
  box-sizing: border-box;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}  
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}
.projects-overlay::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--duration) var(--function-animator);
}

.projects-item:hover .projects-overlay::before,
.projects-item:focus .projects-overlay::before {
transform: translateY(0);
}

.projects-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--duration) var(--function-animator);
}

.projects-item:hover .projects-text,
.projects-item:focus .projects-text {
  opacity: 1;
  transform: translateY(0);
}
.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.projects-after-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03;
  color: var(--third-title-color);
}
.card {
  padding: 20px 24px;
  background: var(--main-title-color);
  border: 1px solid #eeeeee;
  border-top: none;
}